<h1>Admin Orders</h1>

<%= pagination %>

<table>
  <% @orders.each do |order| %>
    <tr>
        <td><%= link_to order.id, admin_order_path(order) %></td>
        <td><%= number_to_currency order.subtotal %></td>
        <td><%= number_to_currency order.tax %></td>
        <td><%= number_to_currency order.total %></td>
    </tr>
  <% end %>
</table>
