 <h3>Order number <%= @order.id %> for <%= @user.email %></h3>

 <table>
     <thead>
         <tr>
             <th>ID</th>
             <th>Product</th>
             <th>Quantity</th>
             <th>Total</th>
         </tr>

     </thead>
     <% @line_items.each do |item| %>
     <tr>
      <td><%= item.id %></td>
      <td><%= item.product.name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.line_item_total %></td>
      <td><%= link_to "Edit", edit_line_item_path(item) %></td>
      <td><%= link_to 'Destroy', line_item_path(item.product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </tr>
    <% end %>
  </table>

  <%= link_to "Checkout", address_checkout_path, class: "btn btn-success" %>
  
