<h1>Admin Home</h1>

  <p><%= link_to "Order Index", admin_orders_path %></p>
  <p><%= link_to "Product Index", admin_products_path %></p>
  <p><%= link_to "Add New Product", new_admin_product_path %></p>
  <p><%= link_to "Staff List", admin_staff_members_path%></p>
  <p><%= link_to "Add New Staff Member", new_admin_staff_member_path %></p>
