<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Picture:</strong>
  <% if @product.picture %>
    <%= image_tag @product.picture, size: "72", class: 'thumbnail' %>
  <% end %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= number_to_currency @product.unit_price %>
</p>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
