<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= paginate @products %>

<table class="table table-borderless">

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <% if product.picture %>
          <td><%= image_tag product.picture, size: "72", class: 'thumbnail' %></td>
        <% end %>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency product&.unit_price_in_cents %></td>
        <td><%= link_to 'Show', product_path(product) %></td>
        <td><%= link_to "Add to cart", new_line_item_path(product: product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
