<p id="notice"><%= notice %></p>

<h1>Products</h1>
<%= first_page_link %>
<%= back_link %>
<%= next_link %>
<%= last_page_link %>


<table class="table table-borderless">
  <!-- <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Unit price</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <% if product.picture %>
          <td><%= image_tag product.picture, size: "72", class: 'thumbnail' %></td>
        <% end %>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency product.unit_price %></td>
        <td><%= link_to 'Show', product_path(product) %></td>
        <td><%= link_to "Add to cart", new_line_item_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
